<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.OrderMapper">
    <resultMap id="resultMap" type="com.cust.trip.bean.Order">
        <id property="id" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="status" column="order_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--    List<Order> selectAllOrders();-->
    <select id="getAllOrders" resultMap="resultMap">
        select *
        from orders
    </select>
    <!--    int saveOrder(Order order);-->
    <insert id="saveOrder">
        insert into orders(order_id, user_id, product_id, order_status, create_time, update_time)
        values (#{order.id}, #{order.userId}, #{order.productId}, #{order.status}, #{order.createTime},
                #{order.updateTime})
    </insert>
    <!--    List<Order> getOrdersByproductId(int productId);-->
    <select id="getOrdersByProductId" resultMap="resultMap">
        select *
        from orders
        where product_id = #{productId}
    </select>

    <!--    List<Order> getOrdersByUserId(int userId);-->
    <select id="getOrdersByUserId" resultMap="resultMap">
        select *
        from orders
        where user_id = #{userId}
    </select>
    <!--    List<Order> getOrdersByStatus(int status);-->
    <select id="getOrdersByStatus" resultMap="resultMap">
        select *
        from orders
        where order_status = #{status}
    </select>

    <!--    List<Order> selectOrderByDate(Timestamp createTime);-->
    <!--    List<Order> selectOrdersBtDates(Timestamp createTimePre,Timestamp createTimePo);-->
</mapper>