<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.KindMapper">
    <resultMap id="ResultMap" type="com.cust.trip.bean.Kind">
        <result property="id" column="kind_id"></result>
        <result property="name" column="kind_name"></result>
    </resultMap>
    <insert id="insertKind">
        insert into kind(kind_name)
        values(#{name});
    </insert>
    <update id="updateKind">
        update kind
        set kind_name = #{name}
        where kind_id = #{id};
    </update>
    <delete id="deleteKind">
        delete from kind
        where kind_name = #{name};
    </delete>
    <select id="selectAll" resultMap="ResultMap">
        select *
        from kind;
    </select>
</mapper>