<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.OrderMapper">
    <resultMap id="resultMap" type="com.cust.trip.bean.Order">
        <id property="orderId" column="order_id"/>
        <result property="orderUserId" column="order_user_id"/>
        <result property="orderProductId" column="order_product_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderCreateTime" column="create_time"/>
        <result property="orderUpdateTime" column="update_time"/>
        <result property="orderDiscount" column="order_discount"/>
    </resultMap>

    <!--    List<Order> getAllOrders();-->
    <select id="getAllOrders" resultMap="resultMap">
        select *
        from orders
    </select>
    <!--    int saveOrder(Order order);-->
    <insert id="saveOrder">
        insert into orders(order_id, order_user_id, order_product_id, order_status, create_time, update_time,order_discount)
        values (#{order.orderId}, #{order.orderUserId}, #{order.orderProductId}, #{order.orderStatus},
                #{order.orderCreateTime},
                #{order.orderUpdateTime},#{order.orderDiscount})
    </insert>
    <!--    List<Order> getOrdersByProductId(int orderProductId);-->
    <select id="getOrdersByProductId" resultMap="resultMap">
        select *
        from orders
        where order_product_id = #{orderProductId}
    </select>

    <!--    List<Order> getOrdersByUserId(int orderUserId);-->
    <select id="getOrdersByUserId" resultMap="resultMap">
        select *
        from orders
        where order_user_id = #{orderUserId}
    </select>
    <!--    List<Order> getOrdersByStatus(int statusId);-->
    <select id="getOrdersByStatus" resultMap="resultMap">
        select *
        from orders
        where order_status=#{statusId}
    </select>

    <!--    List<Order> getOrdersBtDates(Timestamp orderCreateTimePre,Timestamp orderCreateTimePo);-->
    <select id="getOrdersBtDates" resultMap="resultMap">
        select *
        from orders
        where create_time between #{orderCreateTimePre,javaType=java.sql.Timestamp,jdbcType=TIMESTAMP}
            and #{orderCreateTimePo,javaType=java.sql.Timestamp,jdbcType=TIMESTAMP}
    </select>
</mapper>