<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.ProductMapper">

    <resultMap id="ResultMap" type="com.cust.trip.bean.Product">
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productStock" column="product_stock"/>
        <result property="productQuantity" column="product_quantity"/>
        <result property="productSales" column="product_sales"/>
        <result property="productPrice" column="product_price"/>
        <result property="kindName" column="product_kind"/>
        <result property="statusName" column="product_status"/>
        <result property="productCreateTime" column="product_create_time"/>
        <result property="productUpdateTime" column="product_update_time"/>
        <result property="productShlfTime" column="product_shlf_time"/>
        <result property="productTakedownTime" column="product_takedown_time"/>
    </resultMap>



    <insert id="insertProduct">
        insert into products(product_name, product_stock, product_quantity, product_sales, product_price, product_kind, product_status, product_create_time, product_update_time, product_shlf_time, product_takedown_time)
        values(#{product.productName},#{product.productStock},#{product.productQuantity},#{product.productSales},#{product.productPrice},#{kindName},#{statusName},#{product.productCreateTime},#{product.productUpdateTime},#{product.productShlfTime},#{product.productTakedownTime})
    </insert>

    <delete id="deleteProductByName">
        delete from products
        where product_name = #{productName}
    </delete>


    <select id="selectAllProduct" resultMap="ResultMap">
        select product_id , product_name , product_stock , product_quantity ,product_sales ,product_price ,kind_name as 'product_kind',status_name as 'product_status',product_create_time,product_update_time,product_shlf_time,product_takedown_time
        from products p
                 join status s
                      on p.product_status = s.status_id
                 join kinds k
                      on p.product_kind = k.kind_id
    </select>

<!--    List<Product> selectProductByProductName(@Param("productName") String productName);-->
    <select id="selectProductByProductName" resultMap="ResultMap">
        select product_id , product_name , product_stock , product_quantity ,product_sales ,product_price ,kind_name as 'product_kind',status_name as 'product_status',product_create_time,product_update_time,product_shlf_time,product_takedown_time
        from products p
                 join status s
                      on p.product_status = s.status_id
                 join kinds k
                      on p.product_kind = k.kind_id
        where product_name like "%"#{productName}"%"
    </select>




</mapper>