<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.ProductMapper">

    <resultMap id="ResultMap" type="com.cust.trip.bean.Product">
        <result property="productId" column="product_id"></result>
        <result property="productName" column="product_name"></result>
        <result property="productStock" column="product_stock"></result>
        <result property="productQuantity" column="product_quantity"></result>
        <result property="productSales" column="product_sales"></result>
        <result property="productPrice" column="product_price"></result>
        <result property="kindName" column="product_kind"></result>
        <result property="statusName" column="product_status"></result>
        <result property="productCreateTime" column="create_time"></result>
        <result property="productUpdateTime" column="update_time"></result>
        <result property="productShlfTime" column="shlf_time"></result>
        <result property="productTakedownTime" column="ttakedown_time"></result>
    </resultMap>



    <insert id="insertProduct">
        insert into products(product_name, product_stock, product_quantity, product_sales, product_price, product_kind, product_status, create_time, update_time, shlf_time, takedown_time)
        values(#{product.productName},#{product.productStock},#{product.productQuantity},#{product.productSales},#{product.productPrice},#{productKind},#{product.productStatus},#{product.productCreateTime},#{product.productUpdateTime},#{product.productShlfTime},#{product.productTakedownTime});
    </insert>

    <delete id="deleteProductByName">
        delete from products
        where product_name = #{productName};
    </delete>


    <select id="selectAllProduct" resultMap="ResultMap">
        select *
        from products;
    </select>




</mapper>