<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.StatusMapper">

<resultMap id="ResultMap" type="com.cust.trip.bean.Status">
    <result property="statusId" column="status_id"></result>
    <result property="statusCategory" column="status_category"></result>
    <result property="statusName" column="status_name"></result>
</resultMap>

    <insert id="insertStatus">
    insert into status(status_category,status_name)
    values(#{status.statusCategory},#{status.statusName})
    </insert>
    <delete id="deleteStatus">
        delete from status
        where status_name = #{statusName}
    </delete>
    <select id="selectAllStatus" resultMap="ResultMap">
        select *
        from status
    </select>
    <select id="selectStatusByName" resultMap="ResultMap">
        select *
        from status
        where status_name = #{statusName}
    </select>



</mapper>