<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cust.trip.dao.UserMapper">
    <resultMap id="resultMap" type="com.cust.trip.bean.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userPhoneNumber" column="user_phone_number"/>
        <result property="userConsumption" column="user_consumption"/>
        <result property="userBalance" column="user_balance"/>
        <result property="userVip" column="user_is_vip"/>
        <result property="userCreateTime" column="user_create_time"/>
    </resultMap>

    <!--    List<User> selectAllUsers();-->
    <select id="selectAllUsers" resultMap="resultMap">
        select *
        from users
    </select>

    <!--    List<User> selectUsersByName(@Param("userName")String userName);-->
    <select id="selectUsersByName" resultMap="resultMap">
        select * from users
        <where>
            <if test="userName != null and userName != '' "/>
            user_name like "%"#{userName}"%"
        </where>
    </select>

    <!--    User selectUserByPhoneNumber(@Param("userPhoneNumber")String userPhoneNumber);-->
    <select id="selectUserByPhoneNumber" resultMap="resultMap">
        select * from users
        <where>
            <if test="userPhoneNumber != null and userPhoneNumber != '' "/>
            user_phone_number like "%"#{userPhoneNumber}"%"
        </where>
    </select>

    <!--   int insertUser(@Param("user")User  user);-->
    <insert id="insertUser">
        insert users(user_name, user_password, user_phone_number, user_consumption, user_balance, user_is_vip,user_create_time)
        values (#{user.userName},
                #{user.userPassword},
                #{user.userPhoneNumber},
                #{user.userConsumption},
                #{user.userBalance},
                #{user.userVip},#{user.userCreateTime})
    </insert>

    <!--    int updatePassword(@Param("userId")int userId, @Param("newUserPassword")String newUserPassword);-->
    <update id="updatePassword">
        update users
        set user_password=#{newUserPassword}
        where user_id = #{userId}
    </update>

    <!--    int updateName(@Param("userId")int userId,@Param("newUserName") String newUserName);-->
    <update id="updateName">
        update users
        set user_name=#{newUserName}
        where user_id = #{userId}
    </update>

    <!--    int updatePhoneNumber(@Param("userId")int userId, @Param("newUserPhoneNumber")String newUserPhoneNumber);-->
    <update id="updatePhoneNumber">
        update users
        set user_phone_number=#{newUserhoneNumber}
        where user_id = #{userId}
    </update>

    <!--     int rechargeBalance(@Param("userId")int userId,@Param("inUserBalance") double inUserBalance);-->
    <update id="rechargeBalance">
        update users
        set user_balance=user_balance + #{inUserBalance}
        where user_id = #{userId}
    </update>

    <!--   int useBalance(@Param("userId")int userId, @Param("deUserBalance")double deUserBalance);-->
    <update id="useBalance">
        update users
        set user_balance=user_balance - #{deUserBalance}
        where user_id = #{userId}
    </update>

    <!--     int consumption(@Param("userId")int userId,@Param("userConsumption") double userConsumption);-->
    <update id="consumption">
        update users
        set user_consumption=user_consumption + #{userconcumption}
        where user_id = #{userId}
    </update>

    <!--     int deConsumption(@Param("userId")int userId, @Param("userConsumption")double userConsumption);-->
    <update id="deConsumption">
        update users
        set user_consumption=user_consumption - #{userConsumption}
        where user_id = #{userId}
    </update>

    <!--    int updateVip(@Param("userId")int userId, @Param("userVip")int userVip);-->
    <update id="updateVip">
        update users
        set user_is_vip=#{userVip}
        where user_id = #{userId}
    </update>

</mapper>